body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Цвет фона */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #795548; /* Цвет заголовка */
}

.test-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.test {
    height: 40px;
    padding: 10px;
    border: 2px solid #795548; /* Цвет рамки */
    border-radius: 5px;
    background-color: #fff; /* Цвет фона блока с тестом */
    color: #333; /* Цвет текста */
    display: flex;
    align-items: center;
}

.profile-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px; /* Ширина иконки */
    height: 40px; /* Высота иконки */
    border-radius: 50%; /* Для круглой иконки */
    background-color: #fff; /* Цвет фона иконки */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Тень для иконки */
}

.lecture {
    height: 40px;
    padding: 10px;
    border: 2px solid #795548; /* Цвет рамки */
    border-radius: 5px;
    background-color: #fff; /* Цвет фона блока с тестом */
    color: #333; /* Цвет текста */
    display: flex;
    align-items: center;
    margin:7px;
}